.content {
  position: relative;
  width: 100vw;
  height: calc(1vh*100);

  overflow: hidden;
  content-visibility: auto;
  transition: all 0.5 cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
}

.gridContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  width: 1170px;
  height: 1016px;
  top: calc(((var(--vh, 1vh) * 100) - 1016px) / 2);
  left: calc((100vw - 1170px) / 2);
  content-visibility: auto;

}

.gridElement {
  display: grid;
  grid-template-columns: repeat(3, 234px);
  touch-action: none;
  padding: 25px 37.5px;
}

.element {
  padding: 25px 15px;
  width: 234px;
  height: 254px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 1;
}

@media(min-width: 1536px) {
  .gridContainer {
    width: 2110px;
    height: 1600px;
    top: calc(((var(--vh, 1vh) * 100) - 1600px) / 2);
    left: calc((100vw - 2110px) / 2);
  }

}

@media (min-width: 768px) {
  .gridContainer {
    width: 1600px;
    height: 1216px;
    top: calc(((var(--vh, 1vh) * 100) - 1216px) / 2);
    left: calc((100vw - 1600px) / 2);
  }

  .gridElement {
    grid-template-columns: repeat(3, 320px);
    padding: 64px 80px;
  }

  .element {
    width: 320px;
    height: 304px;
    padding: 32px 40px;
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    width: 1800px;
    height: 1376px;
    top: calc(((var(--vh, 1vh) * 100) - 1376px) / 2);
    left: calc((100vw - 1800px) / 2);
  }

  .gridElement {
    grid-template-columns: repeat(3, 360px);
    padding: 64px 80px;
  }

  .element {
    width: 360px;
    height: 344px;
  }
}

@media (min-width: 1280px) {
  .gridContainer {
    width: 1960px;
    height: 1456px;
    top: calc(((var(--vh, 1vh) * 100) - 1456px) / 2);
    left: calc((100vw - 1960px) / 2);
  }

  .gridElement {
    grid-template-columns: repeat(3, 392px);
    padding: 64px 92px;
  }

  .element {
    width: 392px;
    height: 364px;
    padding: 32px 46px;
  }
}





.thumbnailWrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.listElement {
  overflow: auto hidden;
  height: calc(1vh * 100);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
  padding: 0px 10vmin;
}

.elementL {
  width: 70vmin;
  height: 70vmin;
  margin: 0 5vw;
}

.mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: pink;
  font-family: 'Poppins', sans-serif;
  pointer-events: none;


}
.textPole{
  margin-right: 5vw;
  width:clamp(10vw, 20em, 75vw);
  font-weight: 2em;
  pointer-events: none;
 color:green;
    font-family: 'Poppins', sans-serif;
}
.diffTitles{
  position: absolute;
  font-family: 'Poppins', sans-serif;
 
  font-size: 4vw;
  
  width: 100%;
  text-align: center;
  top:10vh;
  z-index:4;
  mix-blend-mode: difference;
  color:pink;
}

